[Unit]
Description=Keyboard LED On Service
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh /usr/bin/led_on.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
